%p
  Seeking out DIVS wherever they may lie...

-form_tag queued_sites_path do
  =hidden_field_tag "queued_site[user_flag]", 1
  =label_tag :uri, "Add a new site to the crawl, or if you wanna revisit a classic put that in too."
  %div
    =text_field_tag "queued_site[uri]", nil, :size => 60
    =submit_tag "Submit"

-form_tag({:controller => "processed_sites", :action => "show_site"}) do
  =label_tag :uri, "Check to see how a specific site ranked:"
  %div
    =text_field_tag :uri, nil, :size => 60
    =submit_tag "Check"

%h2="Top 20 of #{@total_processed_sites}"
%ol
  -@processed_sites.each do |processed_site|
    %li
      =pluralize(processed_site.div_count, "DIV", "DIVS")
      =link_to("#{processed_site.title.blank? ? "No Title" : processed_site.title} - #{processed_site.uri}", processed_site.uri, :target => "_blank")
