%p
  Seeking out DIVS wherever they may lie...

-form_tag queued_sites_path do
  =hidden_field_tag "queued_site[user_flag]", 1
  =label_tag :uri, "Add a new site to the crawl, or if you wanna revisit a classic put that in too."
  %div
    =text_field_tag "queued_site[uri]", nil, :size => 60
    =submit_tag "Submit"

-form_tag({:controller => "processed_sites", :action => "show_site"}) do
  =label_tag :uri, "Check to see how a specific site ranked:"
  %div
    =text_field_tag :uri, nil, :size => 60
    =submit_tag "Check"

#processed_site_list
  =render :partial => "processed_site_list", :locals => {:total_processed_sites => @total_processed_sites, :processed_sites => @processed_sites}

=periodically_call_remote(:url => "/", :update => 'processed_site_list', :frequence => 20)
