<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

%html{:xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en"}
  %head
    %meta{:"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title Div Counter
    =stylesheet_link_tag 'scaffold'
    =stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"
    =stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/base/base-min.css"
    =stylesheet_link_tag "styles"
    =stylesheet_link_tag "pagination"
  %body
    -if flash.size > 0
      .site_messages
        -[:notice,:error].each do |type|
          -next if flash[type].blank?
          %p=flash[type]
    
    #main_content
      .logo
        =link_to(image_tag("/images/logo.png"), "/")
      =yield
